.nav-container {
    background-color: #EEEEEE;
    width:100%;
    color: black;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:10px;
    filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
}

.img-logo {
    height:60px;
    mix-blend-mode: color-burn;
    margin-left:10%;
}

.li-menu {
    display:flex;
    gap:1rem;
    padding:10px;
    align-items:center;
    justify-content:center;
}

a {
    display:flex;
    align-items:center;
    justify-content:center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; 
    /* padding-left: rem; */
    padding-right: 13rem; 
    border-radius: 0.375rem; 
    font-size: 0.875rem;
    line-height: 1.25rem; 
    font-weight: 500; 
    color: grey; 
    text-decoration: none;
    cursor: pointer;
}

.logout:hover {
    color: black; 
    transform: scale(1.1);
}

a:active{
    color: black; 
}